body {
  background-color: lightcyan;
}

#logo {
    width: 180px;
}
.navbar {
    display: flex;
    background-color: darkgray;
    justify-content: center;
  }
  
  .flex-nav {
    color: black;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
  } 
  
  .dropdown {
    display: none;
    overflow: hidden;
  }
  
  .dropdown .dropdown_btn {
    font-size: 20px;
    border: none;
    background-color: darkgray;
    padding: 14px 16px;
    font-family: inherit;
    width: 100%;
  }

  .navbar a:hover, .dropdown:hover .dropdown_btn{
    background-color: lightgreen;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: gray;
    width: 467px;
    z-index: 1;
  }

  .dropdown_content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 18px;
  }

  .dropdown_content a:hover {
    background-color: lightgreen;
  }

  .dropdown:hover .dropdown_content {
    display: block;
  }

  #nct_full {
    margin: 15px;
    width:500px;

  }

  .flex_container {
    display: flex;
    background-color: lightgray;
    margin: 1%;
    border-radius: 5px;
  }

  .flex_content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .flex_content p {
    font-size: 18px;
  }

  .members {
    display: flex;
  }

  .members_info {
    padding: 10px;
  }
  
  @media (max-width: 576px) {
    .navbar {
      display: none;
    }
    .dropdown {
      display: block;
    }

    .flex_container {
      flex-direction: column;
      padding: 1%;
    }

    #nct_full {
      width: 400px;
      padding-left: 10px;
    }
  }