#logo {
    width: 180px;
}
.navbar {
    display: flex;
    background-color: darkgray;
    justify-content: center;
  }
  
  .flex-nav {
    color: black;
    margin: 5px;
    padding: 5px;
    font-size: 18px;
    text-decoration: none;
  
  }
  
  
  @media (max-width: 576px) {
    .navbar {
      display: none;
    }
  }